nodered/automation-tab.json
[
    {
        "id": "2c3d28e1.93a558",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5f672203.7f76cc",
        "type": "server-state-changed",
        "z": "2c3d28e1.93a558",
        "name": "Tado mode",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "entityidfilter": "sensor.verwarming_tado_mode",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "12099f96.563dd",
                "b633967c.85e058"
            ]
        ]
    },
    {
        "id": "12099f96.563dd",
        "type": "debug",
        "z": "2c3d28e1.93a558",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "b633967c.85e058",
        "type": "switch",
        "z": "2c3d28e1.93a558",
        "name": "HOME/AWAY",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "AWAY",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "HOME",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "fbbade26.75cb9"
            ],
            [
                "e3c8f53f.4b5218"
            ]
        ]
    },
    {
        "id": "e3c8f53f.4b5218",
        "type": "api-call-service",
        "z": "2c3d28e1.93a558",
        "name": "turnOffVacationMode",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.turn_on_vacationmode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 860,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fbbade26.75cb9",
        "type": "api-call-service",
        "z": "2c3d28e1.93a558",
        "name": "turnOnVacationMode",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.turn_on_vacationmode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "882e8259.4952c",
        "type": "inject",
        "z": "2c3d28e1.93a558",
        "name": "Start",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "e70369c1.99a8f8"
            ]
        ]
    },
    {
        "id": "e70369c1.99a8f8",
        "type": "http request",
        "z": "2c3d28e1.93a558",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://my.tado.com/api/v2/homes/329549/users/?username=iot@rozemuller.com&password=Sqp8dpQuZqem825",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "6e362a02.c9b634"
            ]
        ]
    },
    {
        "id": "6e362a02.c9b634",
        "type": "function",
        "z": "2c3d28e1.93a558",
        "name": "DevicesAtHome",
        "func": "var counter = 0;\nvar userList = msg.payload;\nvar atHome;\nfor (var i =0 ; i < userList.length; i++){\n    var deviceList = userList[i].mobileDevices;\n    for (var d =0 ; d < deviceList.length; d++){\n    var device = deviceList[i]\n    if(deviceList[d].location.atHome === true){\n        counter++;\n    }\n  }\n  var newMsg = { payload:counter };\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "dce9f2ab.dd01e",
                "12099f96.563dd"
            ]
        ]
    },
    {
        "id": "dce9f2ab.dd01e",
        "type": "switch",
        "z": "2c3d28e1.93a558",
        "name": "if status > 0 (at home)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "a0ea4024.ca996"
            ]
        ]
    },
    {
        "id": "a0ea4024.ca996",
        "type": "api-current-state",
        "z": "2c3d28e1.93a558",
        "name": "if vacationmode is on",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.turn_on_vacationmode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 860,
        "y": 220,
        "wires": [
            [
                "e3c8f53f.4b5218"
            ],
            []
        ]
    },
    {
        "id": "ae78027f.f4c96",
        "type": "api-call-service",
        "z": "2c3d28e1.93a558",
        "name": "to Light",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "frontend",
        "service": "set_theme",
        "entityId": "",
        "data": "{\"name\":\"light\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 480,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "60133777.cf4a18",
        "type": "server-state-changed",
        "z": "2c3d28e1.93a558",
        "name": "darkmode",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.turn_on_darkmode",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 80,
        "y": 340,
        "wires": [
            [
                "efa32cb3.bbd8d"
            ]
        ]
    },
    {
        "id": "edf36240.52e7",
        "type": "api-call-service",
        "z": "2c3d28e1.93a558",
        "name": "to Dark",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "frontend",
        "service": "set_theme",
        "entityId": "",
        "data": "{\"name\":\"dark\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 480,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "132a751d.e0b09b",
        "type": "api-call-service",
        "z": "2c3d28e1.93a558",
        "name": "Set darkmode input switch",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": true,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.turn_on_darkmode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 540,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6bc14a26.f77674",
        "type": "server-state-changed",
        "z": "2c3d28e1.93a558",
        "name": "sun horizon state",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sun.sun",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "efa32cb3.bbd8d"
            ]
        ]
    },
    {
        "id": "efa32cb3.bbd8d",
        "type": "switch",
        "z": "2c3d28e1.93a558",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "above_horizon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "below_horizon",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "ae78027f.f4c96"
            ],
            [
                "ae78027f.f4c96"
            ],
            [
                "edf36240.52e7",
                "132a751d.e0b09b"
            ],
            [
                "edf36240.52e7",
                "132a751d.e0b09b"
            ]
        ]
    },
    {
        "id": "b7aabdac.7c19c",
        "type": "api-call-service",
        "z": "2c3d28e1.93a558",
        "name": "create snapshot full",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": true,
        "service_domain": "hassio",
        "service": "snapshot_full",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "200a1b07.9d7204"
            ]
        ]
    },
    {
        "id": "14093ae1.589115",
        "type": "bigtimer",
        "z": "2c3d28e1.93a558",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Daily at 23:00",
        "comment": "Daily time",
        "lat": "52.476719",
        "lon": "6.571540",
        "starttime": "1380",
        "endtime": "10005",
        "starttime2": "0",
        "endtime2": "0",
        "startoff": "0",
        "endoff": 0,
        "startoff2": "",
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "b7aabdac.7c19c"
            ],
            [],
            []
        ]
    },
    {
        "id": "6b15a1e9.6257d",
        "type": "inject",
        "z": "2c3d28e1.93a558",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 580,
        "wires": [
            [
                "b7aabdac.7c19c"
            ]
        ]
    },
    {
        "id": "200a1b07.9d7204",
        "type": "debug",
        "z": "2c3d28e1.93a558",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "d9811aec.14d0c8",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    }
]