nodered/notifiy-followup-tab.json
[
    {
        "id": "af06f34.eb52e1",
        "type": "tab",
        "label": "Notification followup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ec2a86d.997578",
        "type": "server-events",
        "z": "af06f34.eb52e1",
        "name": "When action fired",
        "server": "d9811aec.14d0c8",
        "event_type": "ios.notification_action_fired",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "8edac9ec.bac1c8"
            ]
        ]
    },
    {
        "id": "8edac9ec.bac1c8",
        "type": "switch",
        "z": "af06f34.eb52e1",
        "name": "",
        "property": "payload.event.actionName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ACTIVATE_SIRENS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TURNOFF_LIGHTS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TURNOFF_VACMODE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TURNON_VACMODE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TURNON_MANUALMODE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "2738a440.b495dc"
            ],
            [
                "139fb117.add6ef"
            ],
            [
                "ead35f34.edba7"
            ],
            [
                "ae809b5d.57f508"
            ],
            [
                "a907acf4.03a2d"
            ]
        ]
    },
    {
        "id": "2738a440.b495dc",
        "type": "api-call-service",
        "z": "af06f34.eb52e1",
        "name": "",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "input_boolean.turn_on_manual",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "139fb117.add6ef",
        "type": "api-call-service",
        "z": "af06f34.eb52e1",
        "name": "turnOffKleineLampen",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "switch.lamp_tv, switch.808204522cf43204195d",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 480,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c875aa06.4fe0c8",
        "type": "comment",
        "z": "af06f34.eb52e1",
        "name": "",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "ead35f34.edba7",
        "type": "api-call-service",
        "z": "af06f34.eb52e1",
        "name": "turnOffVacationMode",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.turn_on_vacationmode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 480,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ae809b5d.57f508",
        "type": "api-call-service",
        "z": "af06f34.eb52e1",
        "name": "turnOnVacationMode",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.turn_on_vacationmode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 480,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a907acf4.03a2d",
        "type": "api-call-service",
        "z": "af06f34.eb52e1",
        "name": "TURNON_MANUALMODE",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.turn_on_manual",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d9811aec.14d0c8",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    }
]