nodered/notifiy-tab.json
[
    {
        "id": "bfd2b97c.df62f8",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "71093a49.48af44",
        "type": "inject",
        "z": "bfd2b97c.df62f8",
        "name": "Start",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "00 19 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "ec68f640.6ac858"
            ]
        ]
    },
    {
        "id": "9292140b.5d2cf8",
        "type": "template",
        "z": "bfd2b97c.df62f8",
        "name": "Format",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.attributes.friendly_name}}",
        "output": "str",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "ad9f1eaa.7496f"
            ]
        ]
    },
    {
        "id": "ad9f1eaa.7496f",
        "type": "split",
        "z": "bfd2b97c.df62f8",
        "name": "split",
        "splt": "_",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "9901cbda.9e3278"
            ]
        ]
    },
    {
        "id": "c013b660.a09448",
        "type": "api-call-service",
        "z": "bfd2b97c.df62f8",
        "name": "",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_iphone_sander",
        "entityId": "",
        "data": "{\"title\":\"Afval aan de weg\",\"message\":\"{{payload}} moet morgen aan de weg\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1030,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9901cbda.9e3278",
        "type": "join",
        "z": "bfd2b97c.df62f8",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 100,
        "wires": [
            [
                "c013b660.a09448"
            ]
        ]
    },
    {
        "id": "2f5621ba.8ee30e",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "Calc time diff",
        "func": "var now = new Date();\nvar rova = new Date(msg.payload.state);\nvar diff = now - rova\nvar readableDate = new Date(diff).toLocaleString(\"nl-NL\");\nvar daysLeft;\ndaysLeft = Math.floor((rova-now)/(1000*60*60*24));\nif (daysLeft === 0){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "9292140b.5d2cf8"
            ]
        ]
    },
    {
        "id": "94d9dbd8.1eba88",
        "type": "comment",
        "z": "bfd2b97c.df62f8",
        "name": "Rova garbage check daily at 19:00",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "5d7f7041.e77b9",
        "type": "ha-get-entities",
        "z": "bfd2b97c.df62f8",
        "server": "d9811aec.14d0c8",
        "name": "get not hue lights",
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "group.livingroom_lights",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "41e91cb1.62c6d4"
            ]
        ]
    },
    {
        "id": "ec68f640.6ac858",
        "type": "ha-get-entities",
        "z": "bfd2b97c.df62f8",
        "server": "d9811aec.14d0c8",
        "name": "Rova entities",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "sensor.rova",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "2f5621ba.8ee30e",
                "5a7a3e4a.ac54"
            ]
        ]
    },
    {
        "id": "e8b55378.cd1fa",
        "type": "comment",
        "z": "bfd2b97c.df62f8",
        "name": "If left home send msg when lights are on",
        "info": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "8c694b68.c71f98",
        "type": "ha-get-entities",
        "z": "bfd2b97c.df62f8",
        "server": "d9811aec.14d0c8",
        "name": "",
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "input_boolean.turn_on_vacationmode",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "7f067f15.514fa"
            ]
        ]
    },
    {
        "id": "3bc1c195.a6178e",
        "type": "server-state-changed",
        "z": "bfd2b97c.df62f8",
        "name": "Light souterain",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "entityidfilter": "light.0x14b457fffe45e996_light",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "8c694b68.c71f98"
            ],
            []
        ]
    },
    {
        "id": "2d7feb68.44d124",
        "type": "api-call-service",
        "z": "bfd2b97c.df62f8",
        "name": "Notify",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_iphone_sander",
        "entityId": "",
        "data": "{\"message\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1290,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "41e91cb1.62c6d4",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "Format message",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"title\":\"Lampen branden nog\",\n    \"message\": 'Lampen branden, maar niemand is in huis',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"lights\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "2d7feb68.44d124"
            ]
        ]
    },
    {
        "id": "7f067f15.514fa",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "Format message",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"title\":\"Activiteit!\",\n    \"message\": 'Souterain sensor beweging, maar niemand is in huis',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 5,\n        \"category\": \"siren\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "2d7feb68.44d124"
            ]
        ]
    },
    {
        "id": "ec03c7db.cc8b78",
        "type": "server-state-changed",
        "z": "bfd2b97c.df62f8",
        "name": "Battery motion souterain",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "entityidfilter": "sensor.0x14b457fffec68833_battery",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "num",
        "haltifstate": "10",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "a263972b.361cf8"
            ],
            []
        ]
    },
    {
        "id": "a263972b.361cf8",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "Format message",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\": 'Batterij van motion sensor souterain bijna leeg',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 5,\n        \"category\": \"siren\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "2d7feb68.44d124"
            ]
        ]
    },
    {
        "id": "e579e5f2.540d98",
        "type": "server-state-changed",
        "z": "bfd2b97c.df62f8",
        "name": "Check Vac.mode state",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "entityidfilter": "input_boolean.turn_on_vacationmode",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "d8cc5543.d0fd18"
            ]
        ]
    },
    {
        "id": "fbb7388e.f55e08",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "Format message",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\": 'Vakantiemodus staat aan',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 5,\n        \"category\": \"vacationmode\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "2d7feb68.44d124"
            ]
        ]
    },
    {
        "id": "d8cc5543.d0fd18",
        "type": "switch",
        "z": "bfd2b97c.df62f8",
        "name": "vacationmode state",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "fbb7388e.f55e08"
            ],
            [
                "d17177d2.9773e8"
            ]
        ]
    },
    {
        "id": "d17177d2.9773e8",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "Format message",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\": 'Vakantiemodus staat uit',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 5,\n        \"category\": \"vacationmodeon\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "2d7feb68.44d124"
            ]
        ]
    },
    {
        "id": "20f2dde5.fd1552",
        "type": "server-state-changed",
        "z": "bfd2b97c.df62f8",
        "name": "left home",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.iphone_sander",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "5d7f7041.e77b9"
            ],
            []
        ]
    },
    {
        "id": "2047bbd9.752d84",
        "type": "http request",
        "z": "bfd2b97c.df62f8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://my.tado.com/api/v2/homes/329549/users/?username=iot@rozemuller.com&password=Sqp8dpQuZqem825",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "26d5e174.6b49ce"
            ]
        ]
    },
    {
        "id": "26d5e174.6b49ce",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "DevicesAtHome",
        "func": "var counter = 0;\nvar userList = msg.payload;\nvar atHome;\nfor (var i =0 ; i < userList.length; i++){\n    var deviceList = userList[i].mobileDevices;\n    for (var d =0 ; d < deviceList.length; d++){\n    var device = deviceList[i]\n    if(deviceList[d].location.atHome === true){\n        counter++;\n    }\n  }\n  var newMsg = { payload:counter };\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 660,
        "wires": [
            [
                "2965aa60.c681b6",
                "c0dd2200.c2667"
            ]
        ]
    },
    {
        "id": "2965aa60.c681b6",
        "type": "switch",
        "z": "bfd2b97c.df62f8",
        "name": "if status is 0 (not home)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 660,
        "wires": [
            [
                "b5c662e6.1c849"
            ]
        ]
    },
    {
        "id": "85ea0640.aa5718",
        "type": "inject",
        "z": "bfd2b97c.df62f8",
        "name": "Start",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 660,
        "wires": [
            [
                "2047bbd9.752d84"
            ]
        ]
    },
    {
        "id": "304b862f.f5f78a",
        "type": "function",
        "z": "bfd2b97c.df62f8",
        "name": "Format message",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\": 'Vakantiemodus staat uit, maar niemand is thuis',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 5,\n        \"category\": \"vacationmodeon\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "2d7feb68.44d124",
                "c0dd2200.c2667"
            ]
        ]
    },
    {
        "id": "5a7a3e4a.ac54",
        "type": "debug",
        "z": "bfd2b97c.df62f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "c0dd2200.c2667",
        "type": "debug",
        "z": "bfd2b97c.df62f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "b5c662e6.1c849",
        "type": "api-current-state",
        "z": "bfd2b97c.df62f8",
        "name": "if vacationmode is off",
        "server": "d9811aec.14d0c8",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.turn_on_vacationmode",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 860,
        "y": 660,
        "wires": [
            [
                "304b862f.f5f78a"
            ],
            []
        ]
    },
    {
        "id": "d9811aec.14d0c8",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    }
]